@import url("hrrtps://fonts.googleapis.acom/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 0 1px #000, 0 0 2px #000;
  line-height: 32px;
  font-family: "Times New Roman", serif;
  height: auto;
  width: auto;
}

body {
  min-height: 100vh;
  min-width: 698px;
  background-image: url("img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 21px;
}

body {
  justify-content: center;
  margin-top: 1.5%;
  padding: 0;
}

.hr {
  position: relative;
  justify-content: left;
  text-align: left;
  margin-left: 31.5%;
  margin-right: 31.5%;
}

.maintxt {
  padding: 0px 0px 0px 0px;
  margin-left: 31.5%;
  margin-right: 31.5%;
  text-align: left;
}

.list {
  padding: 0px 0px 0px 0px;
  margin-left: 31.5%;
  margin-right: 31.5%;
  text-align: left;
}

.btns1 {
  text-align: right;
  position: absolute;
  top: 0px;
  right: 70px;
  background: #179ef8;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 14px;
  color: #333;
  font-weight: 600;
}

.btns {
  position: absolute;
  top: 0px;
  right: 0px;
  background: #179ef8;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 14px;
  color: #333;
  font-weight: 600;
}

.head {
  font-size: 18px;
}

h1 {
  font-size: 25px;
  margin-top: 35px;
  text-align: left;
  margin-left: 31.5%;
  margin-right: 31.5%;
}

.date {
  font-size: 17px;
  color: #333;
  text-shadow: none;
  text-align: left;
  margin-left: 31.5%;
  margin-right: 31.5%;
}

.author {
  position: relative;
  text-align: left;
  margin-left: 31.5%;
  margin-right: 31.5%;
}
