@import url("hrrtps://fonts.googleapis.acom/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper {
  width: 600px;
  min-width: 300px;
  background: transparent;
  border: 2px solid rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .email {
  position: relative;
  width: 88.5%;
  height: 10px;
  margin: 70px 0;
}

.email input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.email input::placeholder {
  color: #fff;
}

.email i {
  position: absolute;
  right: -50px;
  top: 250%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper .username {
  position: relative;
  width: 88.5%;
  height: 10px;
  margin: 70px 0;
}

.username input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.username input::placeholder {
  color: #fff;
}

.username i {
  position: absolute;
  right: -50px;
  top: 250%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper .password {
  position: relative;
  width: 88.5%;
  height: 10px;
  margin: 70px 0;
}

.password input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.password input::placeholder {
  color: #fff;
}

.password i {
  position: absolute;
  right: -50px;
  top: 250%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper .age {
  position: relative;
  width: 4.8%;
  height: 10px;
  margin: 70px 0;
}

.age input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.age input::placeholder {
  color: #fff;
}

.wrapper .question {
  position: relative;
  width: 100%;
  height: 59.2px;
  margin: 20px 0;
}

.question-box {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
  opacity: 0.8;
}

.wrapper .answer {
  position: relative;
  width: 88.5%;
  height: 10px;
  margin: 20px 0;
}

.answer input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.answer input::placeholder {
  color: #fff;
}

.wrapper .btn {
  width: 99.9%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  margin: 70px 0;
}

.HomePage-link p a {
  color: #fff;
  text-decoration: none;
}
.HomePage-link {
  font-size: 14.5px;
  justify-content: center;
  text-align: center;
  margin: 0px 0 0px;
  font-weight: 600;
  bottom: 40px;
  display: flex;
}
